<h1>What is the difference between an HTTP GET request vs a POST request?</h1>
<p>A GET request just retrieves information from a server, but a POST request enters information and can change information.</p>